@import "tailwindcss";

body{
    background-color: black;
    color: #fff;
}

@layer components{
    .btn {
        @apply inline-flex justify-center items-center;
        @apply px-4 py-2 rounded-lg;
    
}

.btn-primary {
    @apply bg-purple-950 text-white hover:bg-purple-900;
}

.btn-secondary {
    @apply bg-zinc-500 text-white hover:bg-zinc-600;
}

.btn-danger {
    @apply bg-red-800 text-shadow-white hover:bg-red-400;
}

.input{
    @apply border border-zinc-800 rounded-lg px-4 py-2;
    @apply outline-none focus:border-purple-500;
}

}